<div class="header-box_div header-box_div-login">
    <span>
        <button>
            <a href="/login">LOGIN</a>
        </button>
        <button>
            <a href="/register">REGISTER</a>
        </button>
    </span>
</div>