<div class="header-box_div header-box_div-user">
    <div class="header-box_div_detail header-box_div_detail-avatar">
        <img src={{img}} alt="">
    </div>
    <div class="header-box_div_detail header-box_div_detail-profile">
        <p>{{username}}</p>
        <p>{{full_name}}</p>
        <p>{{email}}</p>
        <p><a href="profile">More...</a></p>
        <p><a href="login/logout-user">LOG OUT</a></p>
    </div>
</div>