
#wrap .header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    transition: .5s;
    background: url(/img/background/night.jpg);
    background-size: 100% 100%;
    overflow: hidden;

    #first-background-canvas {

        position: absolute;
        top: 0;
        left: -10rem;
    }

    .first-background{
        width: 65%;
        height: 100%;
        float: right;
        position: relative;
        img {
            z-index: 5;
            bottom: -1rem;
            right: 2rem;
        }

        #first-background-moon {
            width: 20rem;
            height: 20rem;
            position: absolute;
            left: 25rem;
            top: 2rem;
            animation: animation4 15s linear infinite;
        }
        #first-background-moon:hover + {
            //   animation: none;
               transform: scale(3);
               
           }

        #first-background-cat {
            width: 25rem;
            height: 35rem;
            float: right;
            position: absolute;
            z-index: 5;
            bottom: -2rem;
            right: 4rem;
        }
    }
    .header-box {
        width: 35%;
        height: 100%;
        position: relative;
        // background: linear-gradient(#2d6cff,#2d6cff, #e73cd0, #e73cf6, #23b4d5, #2d6cff, #2d6cff);
        // background-size: 200% 500%;
        // animation: animation3 5s ease infinite;
        .header-box_div {
            width: 100%;
        }

        .header-box_div-title {
            width: 100%;
            height: 20%;
            p{
                width: 100%;
                text-align: center;
                font-weight: bold;
                color: orange;
                font-size: 1.5rem;
                font-family: Caviar;
            }
            #title {
                font-weight: normal;
                font-size: 5.5rem;
                text-align: center;
                font-family: Bright_european;
                width: 100%;
                height: 8rem;
                line-height: 8rem;
                color: orange;
            }
        }

        .header-box_div-menu {
            width: 100%;
            height: 17%;
            >ul {
                width: 90%;
                transform: translateX(10%);
                li {
                    width: 40%;
                    height: 3rem;
                    float: left;
                    margin: 1rem 1rem;
                    position: relative;
                    > svg {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        fill:none;
                        rect {
                            width: 100%;
                            height: 100%;
                            stroke-width: .15rem;
                            stroke: orange;
                            position: absolute;
                            stroke-dasharray:200 50;
                            stroke-dashoffset: 50;
                            transition: 1.5s;
                        }
                    }
                    a {
                        width: 100%;
                        height: 100%;
                        display: block;
                        text-align: center;
                        line-height: 2rem;
                        font-family: Caviar;
                        font-weight: bold;
                        color: orange;
                        transition: 0.5s;
                        font-weight: bold;
                        font-size: 1.5rem;
                        line-height: 3rem;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }

                li:hover a {
                    letter-spacing: 0.2rem;
                }
                li:hover rect {
                    stroke-dasharray: 500;
                    stroke-dashoffset: 0;
                    stroke: yellow;
                }
            }
        }

        .header-box_div-login {
            margin-top: 5rem;
            height: 50%;
            span {
                width: 50%;
                height: 60%;
                display: block;
                margin: 2rem auto;
                button {
                    display: block;
                    width: 80%;
                    margin: 0 auto;
                    height: 35%;
                    margin-top: 2.5rem;
                    position: relative;
                    background-color: $lightblack;
                    cursor: pointer;
                    transition: 0.4s;
                    a{
                        width: 100%;
                        height: 100%;
                        display: block;
                        color: orange;
                        font-family: Bright_European;
                        font-size: 2.5rem;
                        line-height: 5rem;
                    }
                }

                button:hover {
                    letter-spacing: 0.3rem;
                    transform: scale(1.25);
                }
                button:after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    transform: scale(0);
                    position: absolute;
                    left:0;
                    top: 0;
                    transition: 1s;
                    border: 0;
                    z-index: -1;
                }

                button:hover:after {
                    animation: animation1 1s ease-in-out alternate;
                }
            }
        }

        .header-box_div-user {
            width: 100%;
            height: 10rem;
            margin-top: 1rem;
            .header-box_div_detail {
                margin: 0 1rem;
            }

            .header-box_div_detail-avatar {
                width: 12rem;
                height: 12rem;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: 100%;
                    padding: 0.2rem;
                    border: 0.1rem solid orange;
                    border-radius: 50%;
                    overflow: hidden;
                    text-align: center;
                    margin: 0 auto;
                    transition:.25s ease-out;
                }
            }

            .header-box_div_detail-profile {
                width: 15rem;
                height: 100%;
                margin: 0 auto;
                p {
                    font-family: Caviar;
                    font-weight: bold;
                    color: orange;
                    height: 25%;
                    line-height: 2.5rem;
                    font-size: 1.25rem;
                    text-align: center;
                    margin-top: .3rem;

                }
                p:nth-child(1){
                    font-size: 2.25rem;
                    
                }
                p:last-child{
                    margin-top: .1rem;
                    a {
                        width: 80%;
                        border-radius: 1rem;
                        font-size: 1.25rem;
                        display: inline-block;
                        position: relative;
                        z-index: 3;
                        transition: .5s;
                        color: orange;
                    }
                    a:hover {
                        letter-spacing: 0.2rem;
                        background-color: rgba(#333, 0.6);
                    }
                }
            }
        }
    }
    .next {
        width: 100%;
        height: 3rem;
        text-align: center;
        position: absolute;
        bottom: 6rem;
        z-index: 2;
        .fas{
            color: $lightblack;
            position: relative;
            z-index: 10;
            font-size: 2rem;
            color: orange;
            width: 2rem;
            margin: 0 auto;
            transform: scaleX(1.25);
            cursor: pointer;
            animation: animation2 .75s linear infinite alternate;
        }
        .fas::after {
            content: "";
            position: absolute;
            left:-.35rem;
            top:-.4rem;
            width: 2.5rem;
            height: 2.5rem;
            transition: .5s;
            border: .1rem solid $lightblack;
            transform: scale(0);
            border-radius: 50%;
            z-index: -1;
        }
        .fas:hover:after {
            transform: scale(1);
            
        }
    }
}

