
@keyframes animation1 {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.25);
        border: .1rem solid orange;
    }
    100%{
        transform: scale(1.25);
        border:  0;
        opacity: 0;
    }
}

@keyframes animation2 {
    to {
        transform: scaleX(1.25) translateY(.5rem) ;
        color: rgba(#333, 0.6);
    }
}

@keyframes animation3 {
    from{
        background-position: 50% 0%;
      }
    to {
        background-position: 50% 100%;
      }
}

@keyframes animation4 {
    to{
        transform: rotateZ(360deg);
    }
}