@font-face {
    font-family: bebas;
    src: url('/font/Bebas-Regular.ttf');
}

@font-face {
    font-family: Bright_European;
    src: url('/font/Bridge Type - UEFA Euro 2020.ttf');
}

@font-face {
    font-family: Caviar;
    src: url('/font/CaviarDreams.ttf');
}

@font-face {
    font-family: CaviarBold;
    src: url('/font/Caviar_Dreams_Bold.ttf');
}

@font-face {
    font-family: LobsterTwoBold;
    src: url('/font/LobsterTwo-Bold.otf');
}

@font-face {
    font-family: Dubai;
    src: url('/font/DubaiSummer.otf');
}