<div class="header-box">
    <div class="header-box_div header-box_div-title">
        <p id="title">PETS STORE</p>
        <p>Pet is the best friend!</p>
    </div>
    <div class="header-box_div header-box_div-menu">
        <ul>
            <li>
                <svg>
                    <rect></rect>
                </svg>
                <a href="#block-pet">PETS</a>
            </li>
            <li>
                <svg>
                    <rect></rect>
                </svg>
                <a href="#block-foods">PET'S FOODS</a>
            </li>
            <li>
                <svg>
                    <rect></rect>
                </svg>
                <a href="#block-products">PRODUCTS</a>
            </li>
            <li>
                <svg>
                    <rect></rect>
                </svg>
                <a href="#block-introduce">INTRODUCE</a>
            </li>
        </ul>
    </div>
    {{> (lookup . 'partials')}}
</div>
