<div class="header-box_div header-box_div-user">
    <div class="header-box_div_detail header-box_div_detail-avatar">
        <img src="/img/background/cat_background.jpg" alt="">
    </div>
    <div class="header-box_div_detail header-box_div_detail-profile">
        <p> {{username}}</p>
        <p> {{email}}</p>
        <p> {{fullname}}</p>
        <p><a href="">More...</a> </p>
    </div>
</div>